
<div class="about-container">
  <h3>
      Play a LIVE Tournament to qualify to win a travel package to Montreal
  </h3>
  <p>
    The Toronto Poker League will host a series of live tournaments throughout the Winter (January to March).  At each event, players will accumulate Series Points, Legs, and Player of the Series Points.  Points are tracked on  Leaderboards which determine who will qualify to play the final tournaments, to earn an entry ticket into our final events.
  </p>
  <p>
  In the Toronto Poker League, we have four (4) 'final events' at the end of each 8-week 'Session', where our members will compete for a travel package to Montreal!  The key to success in this series, is to be consistent and finish at the Final Table at the live events that you play.  Click the icons below, to learn more about the session final events
  </p>
</div>