
<div id="main-header">
  <a href="/">
    <img id="main-img-logo" alt="TPL Logo" src="./assets/tpl-logo.png">
  </a>
</div>

<a routerLink="admin">admin</a>
<div class="main-navbar">
  <ul id="navbar">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="events">Events</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="newplayer">New Player</a></li>
    <li><a routerLink="leaderboard">Leaderboard</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="sponsors">Sponsors</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
