<carousel> 
    <slide>
      <a href="#">
      <img class="carousel-img" src="/assets/home-images/europe.jpg" alt="Win a trip to Europe">
      <div class="carousel-caption d-none d-md-block">
        <h3>Win a trip to Europe</h3>
        <p>Enter description</p>
      </div>
      </a>
    </slide>
    <slide>
      <a href="#2">
      <img class="carousel-img" src="/assets/home-images/montreal.jpg" alt="Win a trip to Montreal">
      <div class="carousel-caption d-none d-md-block">
        <h3>Win a trip to Montreal</h3>
        <p>Enter description</p>
      </div>
      </a>
    </slide>
    <slide>
      <a href="#3">
      <img class="carousel-img" src="/assets/home-images/party-poker.jpg" alt="Set up a Party Poker Account">
      <div class="carousel-caption d-none d-md-block">
        <h3>Set up a Party Poker Account</h3>
      </div>
      </a>
    </slide>
  </carousel>

<div class="gallery-container">
    <ul class="gallery">
      <li>
        <a routerLink="register">
          <img src="/assets/home-images/register.png">
          <div class="gallery-name-block">
            <span>Register Online</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="leaderboard">
          <img src="/assets/home-images/leaderboard.png">
          <div class="gallery-name-block">
            <span>See the Leaderboard</span>
          </div>          
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <img src="/assets/home-images/dealer.png">
          <div class="gallery-name-block">
            <span>Become a Certified Dealer</span>
          </div>
        </a>
      </li>
      <li>
          <a routerLink="contact">
            <img src="/assets/home-images/questions.png">
            <div class="gallery-name-block">
              <span>Questions?</span>
            </div>
          </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/167645219934918/">
          <img src="/assets/home-images/facebook.png">
          <div class="gallery-name-block">
            <span>Like us on Facebook!</span>
          </div>
        </a>
      </li>
    </ul>
</div>