<h1>Our Sponsors</h1>

<ul id="sponsors">
  <li>
    <a href="http://windowgraphix.ca/" target="_blank">
      <img src="/assets/sponsors/windowgraphix-logo.png" alt="sponsor's logo">
      <h3>Select Window Coatings & Graphics</h3>
    </a>
  </li>
  <li>
    <a href="http://www.gggeneral.ca/" target="_blank">
      <img src="/assets/sponsors/gggeneral-logo.png" alt="sponsor's logo">
      <h3>G&G General Supply</h3>
    </a>
  </li>
  <li>
    <a href="http://carnivalcanada.com/" target="_blank">
      <img src="/assets/sponsors/carnivalcanada-logo.png" alt="sponsor's logo">
      <h3>Carnival Canada</h3>
    </a>
  </li>
  <li>
    <a href="http://mixedgames.net/" target="_blank">
      <img src="/assets/sponsors/mixedgames-logo.jpg" alt="sponsor's logo">
      <h3>Mixed Games</h3>
    </a>
  </li>
  <li>
    <a href="http://www.straightpokersupplies.com/" target="_blank">
      <img src="/assets/sponsors/straightpokersupplies-logo.png" alt="sponsor's logo">
      <h3>Straight Poker Supplies</h3>
    </a>
  </li>
  <li>
    <a href="http://www.rousesurveyors.com/" target="_blank">
      <img src="/assets/sponsors/rousesurveyors-logo.png" alt="sponsor's logo">
      <h3>Rouse Surveyors</h3>
    </a>
  </li>
  <li>
    <a href="http://www.anthonyjong.ca/" target="_blank">
      <img src="/assets/sponsors/anthonyjong-logo.png" alt="sponsor's logo">
      <h3>Anthony Jong</h3>
    </a>
  </li>
</ul>

<div class="sponsor-container">
  <h2>Sponsorship Opportunities</h2>
  <p>
    The Canadian Poker League and each local franchise has a few opportunities throughout the year to partner with individuals and key organizations. 
    Please <strong><a href="/contact">Contact Us</a></strong> if you would like to discuss partnering with our league.
  </p>
</div>
